We begin by cleaning the datasets by dropping null values, selecting our features, and encoding them as required. Further, to maintain a similar structure in all datasets, we move the label (predictor) to the last column.

Prior to this, I've manually cleaned out the NAs from the aus_rain dataset (replacing them with nulls) and unwrapped the quotes(") from around each value.

In [69]:
! rmdir /S /Q datasets
! mkdir datasets

The system cannot find the file specified.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
F = {
	"STD": 0,
	"DROP": 1,
	"LABEL": 2,
	"ONEHOT": 3,
	"DUMMY": 4,
	"RAW": 5,
}

sets = {
	"anemia": [
		F["ONEHOT"], F["ONEHOT"], F["ONEHOT"], F["ONEHOT"], F["RAW"], F["RAW"], F["STD"], F["ONEHOT"], F["DUMMY"], F["DUMMY"], F["ONEHOT"], F["ONEHOT"], F["DROP"], F["DUMMY"], F["STD"], F["LABEL"], F["DUMMY"]
	],
	"aus_rain": [
		F["DROP"], F["ONEHOT"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["ONEHOT"], F["STD"], F["ONEHOT"], F["ONEHOT"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["DUMMY"], F["LABEL"]
	],
	"campusrecruitment": [
		F["DROP"], F["ONEHOT"], F["STD"], F["ONEHOT"], F["STD"], F["ONEHOT"], F["ONEHOT"], F["STD"], F["ONEHOT"], F["DUMMY"], F["STD"], F["ONEHOT"], F["STD"], F["LABEL"], F["DROP"]
	],
	"employability": [F["DUMMY"] for i in range(5)] + [F["LABEL"]],
	"fraud": [F["DROP"]] + [F["STD"] for i in range(28)] + [F["STD"], F["LABEL"]],
	"loan": [
		F["DROP"], F["STD"], F["STD"], F["STD"], F["DROP"], F["STD"], F["STD"], F["RAW"], F["STD"], F["DUMMY"], F["DUMMY"], F["DUMMY"], F["DUMMY"], F["LABEL"]
	],
	"mobile_price": [
		F["STD"], F["DUMMY"], F["STD"], F["DUMMY"], F["STD"], F["DUMMY"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["DUMMY"], F["DUMMY"], F["DUMMY"], F["LABEL"]
	],
	"stress": [
		F["STD"], F["STD"], F["DUMMY"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["STD"], F["LABEL"]
	],
	"student_testprep": [
		F["DUMMY"], F["ONEHOT"], F["ONEHOT"], F["ONEHOT"], F["LABEL"], F["STD"], F["STD"], F["STD"]
	],
	"titanic": [
		F["DROP"], F["LABEL"], F["ONEHOT"], F["DUMMY"], F["STD"], F["RAW"], F["RAW"], F["STD"], F["ONEHOT"]
	],
	"wine": [F["LABEL"]] + [F["STD"] for i in range(13)],
	"drug": [
		F["STD"], F["ONEHOT"], F["ONEHOT"], F["ONEHOT"], F["STD"], F["LABEL"]
	],
	"shipping": [
		F["DROP"], F["ONEHOT"], F["ONEHOT"], F["RAW"], F["RAW"], F["STD"], F["RAW"], F["ONEHOT"], F["ONEHOT"], F["STD"], F["STD"], F["LABEL"]
	]
}

assert(len(sets["anemia"]) == 17)
assert(len(sets["drug"]) == 6)
assert(len(sets["campusrecruitment"]) == 15)
assert(len(sets["employability"]) == 6)
assert(len(sets["fraud"]) == 31)
assert(len(sets["loan"]) == 14)
assert(len(sets["mobile_price"]) == 21)
assert(len(sets["shipping"]) == 12)
assert(len(sets["stress"]) == 21)
assert(len(sets["student_testprep"]) == 8)
assert(len(sets["titanic"]) == 9)
assert(len(sets["wine"]) == 14)

assert(len(sets) == 13)

for k in sets:
	print(k)
	c = 0
	for i in sets[k]:
		if i == F["LABEL"]:
			c += 1
	assert(c == 1)

anemia
aus_rain
campusrecruitment
employability
fraud
loan
mobile_price
stress
student_testprep
titanic
wine
drug
shipping

In [3]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer

def process_dataset(dataset):
	print(f"Processing {dataset}")
	df = pd.read_csv(f"datasets_src/{dataset}/{dataset}.csv")

	print(f"Before dropping columns: {df.shape}")
	# Drop columns
	for i, col in enumerate(df.columns):
		if sets[dataset][i] == F["DROP"]:
			print(f"Dropping {i}: {col}")
			df = df.drop(columns=[col])
	
	print(f"After dropping columns: {df.shape}")

	set = [i for i in sets[dataset] if i != F["DROP"]]

	# Drop NA
	print(f"Before dropping NAs: {df.shape}")
	df = df.dropna()
	print(f"After dropping NAs: {df.shape}")

	# Apply transformations
	for i, col in enumerate(df.columns):
		mode = set[i]

		if mode == F["STD"]:
			print(f"Standardising {i}: {col}")
			df[col] = (df[col] - df[col].mean()) / df[col].std()
		elif mode == F["RAW"]:
			print(f"Leaving {i}: {col} raw")

	label_col = ""
	for i, col in enumerate(df.columns):
		if set[i] == F["LABEL"]:
			label_col = col
			break

	df_caten = df.copy(deep = True)
	for i, col in enumerate(df.columns):
		if set[i] == F["ONEHOT"] or set[i] == F["DUMMY"]:
			print(f"Categorizing {i}: {col}")
			print(f"Before: {df_caten.shape}")
			df_caten = df_caten.drop(columns=[col])
			encoded = pd.get_dummies(df[col], prefix=col[:5])
			df_caten = pd.concat([df_caten, encoded], axis = 1)
			print(f"After: {df_caten.shape}")
			print(f"Categories: {encoded.columns} ({len(encoded.columns)})")


	df = df_caten

	# Encode label & move it down to the end
	print(f"Encoding label {label_col}")
	le = LabelEncoder()
	df[label_col] = le.fit_transform(df[label_col])
	df = df[[c for c in df if c != label_col] + [label_col]]
	

	print(f"Before dropping incidental NAs: {df.shape}")
	df = df.dropna()
	print(f"After dropping incidental NAs: {df.shape}")
	df.to_csv(f"datasets/{dataset}.csv", index=False)

	return df

In [184]:
for i, name in enumerate(sets):
	print(f"Set {i + 1}: {name}")
	process_dataset(name)
	print()

Set 1: anemia
Processing anemia
Before dropping columns: (33924, 17)
Dropping 12: When child put to breast
After dropping columns: (33924, 16)
Before dropping NAs: (33924, 16)
After dropping NAs: (9546, 16)
Leaving 4: Births in last five years raw
Leaving 5: Age of respondent at 1st birth raw
Standardising 6: Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal)
Standardising 13: Hemoglobin level adjusted for altitude (g/dl - 1 decimal)
Categorizing 0: Age in 5-year groups
Before: (9546, 16)
After: (9546, 22)
Categories: Index(['Age i_15-19', 'Age i_20-24', 'Age i_25-29', 'Age i_30-34',
       'Age i_35-39', 'Age i_40-44', 'Age i_45-49'],
      dtype='object') (7)
Categorizing 1: Type of place of residence
Before: (9546, 22)
After: (9546, 23)
Categories: Index(['Type _Rural', 'Type _Urban'], dtype='object') (2)
Categorizing 2: Highest educational level
Before: (9546, 23)
After: (9546, 26)
Categories: Index(['Highe_Higher', 'Highe_No education', 'Highe_Primary',
       'Highe_Secondary'],
      dtype='object') (4)
Categorizing 3: Wealth index combined
Before: (9546, 26)
After: (9546, 30)
Categories: Index(['Wealt_Middle', 'Wealt_Poorer', 'Wealt_Poorest', 'Wealt_Richer',
       'Wealt_Richest'],
      dtype='object') (5)
Categorizing 7: Anemia level
Before: (9546, 30)
After: (9546, 33)
Categories: Index(['Anemi_Mild', 'Anemi_Moderate', 'Anemi_Not anemic', 'Anemi_Severe'], dtype='object') (4)
Categorizing 8: Have mosquito bed net for sleeping (from household questionnaire)
Before: (9546, 33)
After: (9546, 34)
Categories: Index(['Have _No', 'Have _Yes'], dtype='object') (2)
Categorizing 9: Smokes cigarettes
Before: (9546, 34)
After: (9546, 35)
Categories: Index(['Smoke_No', 'Smoke_Yes'], dtype='object') (2)
Categorizing 10: Current marital status
Before: (9546, 35)
After: (9546, 36)
Categories: Index(['Curre_Living with partner', 'Curre_Married'], dtype='object') (2)
Categorizing 11: Currently residing with husband/partner
Before: (9546, 36)
After: (9546, 37)
Categories: Index(['Curre_Living with her', 'Curre_Staying elsewhere'], dtype='object') (2)
Categorizing 12: Had fever in last two weeks
Before: (9546, 37)
After: (9546, 39)
Categories: Index(['Had f_Don't know', 'Had f_No', 'Had f_Yes'], dtype='object') (3)
Categorizing 15: Taking iron pills, sprinkles or syrup
Before: (9546, 39)
After: (9546, 41)
Categories: Index(['Takin_Don't know', 'Takin_No', 'Takin_Yes'], dtype='object') (3)
Encoding label Anemia level.1
Before dropping incidental NAs: (9546, 41)
After dropping incidental NAs: (9546, 41)

Set 2: aus_rain
Processing aus_rain
Before dropping columns: (145460, 23)
Dropping 0: Date
After dropping columns: (145460, 22)
Before dropping NAs: (145460, 22)
After dropping NAs: (56420, 22)
Standardising 1: MinTemp
Standardising 2: MaxTemp
Standardising 3: Rainfall
Standardising 4: Evaporation
Standardising 5: Sunshine
Standardising 7: WindGustSpeed
Standardising 10: WindSpeed9am
Standardising 11: WindSpeed3pm
Standardising 12: Humidity9am
Standardising 13: Humidity3pm
Standardising 14: Pressure9am
Standardising 15: Pressure3pm
Standardising 16: Cloud9am
Standardising 17: Cloud3pm
Standardising 18: Temp9am
Standardising 19: Temp3pm
Categorizing 0: Location
Before: (56420, 22)
After: (56420, 47)
Categories: Index(['Locat_AliceSprings', 'Locat_Brisbane', 'Locat_Cairns',
       'Locat_Canberra', 'Locat_Cobar', 'Locat_CoffsHarbour', 'Locat_Darwin',
       'Locat_Hobart', 'Locat_Melbourne', 'Locat_MelbourneAirport',
       'Locat_Mildura', 'Locat_Moree', 'Locat_MountGambier',
       'Locat_NorfolkIsland', 'Locat_Nuriootpa', 'Locat_Perth',
       'Locat_PerthAirport', 'Locat_Portland', 'Locat_Sale', 'Locat_Sydney',
       'Locat_SydneyAirport', 'Locat_Townsville', 'Locat_WaggaWagga',
       'Locat_Watsonia', 'Locat_Williamtown', 'Locat_Woomera'],
      dtype='object') (26)
Categorizing 6: WindGustDir
Before: (56420, 47)
After: (56420, 62)
Categories: Index(['WindG_E', 'WindG_ENE', 'WindG_ESE', 'WindG_N', 'WindG_NE', 'WindG_NNE',
       'WindG_NNW', 'WindG_NW', 'WindG_S', 'WindG_SE', 'WindG_SSE',
       'WindG_SSW', 'WindG_SW', 'WindG_W', 'WindG_WNW', 'WindG_WSW'],
      dtype='object') (16)
Categorizing 8: WindDir9am
Before: (56420, 62)
After: (56420, 77)
Categories: Index(['WindD_E', 'WindD_ENE', 'WindD_ESE', 'WindD_N', 'WindD_NE', 'WindD_NNE',
       'WindD_NNW', 'WindD_NW', 'WindD_S', 'WindD_SE', 'WindD_SSE',
       'WindD_SSW', 'WindD_SW', 'WindD_W', 'WindD_WNW', 'WindD_WSW'],
      dtype='object') (16)
Categorizing 9: WindDir3pm
Before: (56420, 77)
After: (56420, 92)
Categories: Index(['WindD_E', 'WindD_ENE', 'WindD_ESE', 'WindD_N', 'WindD_NE', 'WindD_NNE',
       'WindD_NNW', 'WindD_NW', 'WindD_S', 'WindD_SE', 'WindD_SSE',
       'WindD_SSW', 'WindD_SW', 'WindD_W', 'WindD_WNW', 'WindD_WSW'],
      dtype='object') (16)
Categorizing 20: RainToday
Before: (56420, 92)
After: (56420, 93)
Categories: Index(['RainT_No', 'RainT_Yes'], dtype='object') (2)
Encoding label RainTomorrow
Before dropping incidental NAs: (56420, 125)
After dropping incidental NAs: (56420, 125)

Set 3: campusrecruitment
Processing campusrecruitment
Before dropping columns: (215, 15)
Dropping 0: sl_no
Dropping 14: salary
After dropping columns: (215, 13)
Before dropping NAs: (215, 13)
After dropping NAs: (215, 13)
Standardising 1: ssc_p
Standardising 3: hsc_p
Standardising 6: degree_p
Standardising 9: etest_p
Standardising 11: mba_p
Categorizing 0: gender
Before: (215, 13)
After: (215, 14)
Categories: Index(['gende_F', 'gende_M'], dtype='object') (2)
Categorizing 2: ssc_b
Before: (215, 14)
After: (215, 15)
Categories: Index(['ssc_b_Central', 'ssc_b_Others'], dtype='object') (2)
Categorizing 4: hsc_b
Before: (215, 15)
After: (215, 16)
Categories: Index(['hsc_b_Central', 'hsc_b_Others'], dtype='object') (2)
Categorizing 5: hsc_s
Before: (215, 16)
After: (215, 18)
Categories: Index(['hsc_s_Arts', 'hsc_s_Commerce', 'hsc_s_Science'], dtype='object') (3)
Categorizing 7: degree_t
Before: (215, 18)
After: (215, 20)
Categories: Index(['degre_Comm&Mgmt', 'degre_Others', 'degre_Sci&Tech'], dtype='object') (3)
Categorizing 8: workex
Before: (215, 20)
After: (215, 21)
Categories: Index(['worke_No', 'worke_Yes'], dtype='object') (2)
Categorizing 10: specialisation
Before: (215, 21)
After: (215, 22)
Categories: Index(['speci_Mkt&Fin', 'speci_Mkt&HR'], dtype='object') (2)
Encoding label status
Before dropping incidental NAs: (215, 22)
After dropping incidental NAs: (215, 22)

Set 4: employability
Processing employability
Before dropping columns: (829, 6)
After dropping columns: (829, 6)
Before dropping NAs: (829, 6)
After dropping NAs: (829, 6)
Categorizing 0: Gender
Before: (829, 6)
After: (829, 7)
Categories: Index(['Gende_0', 'Gende_1'], dtype='object') (2)
Categorizing 1: Education
Before: (829, 7)
After: (829, 8)
Categories: Index(['Educa_0', 'Educa_1'], dtype='object') (2)
Categorizing 2: Work Exp
Before: (829, 8)
After: (829, 9)
Categories: Index(['Work _0', 'Work _1'], dtype='object') (2)
Categorizing 3: Programming Exp
Before: (829, 9)
After: (829, 10)
Categories: Index(['Progr_0', 'Progr_1'], dtype='object') (2)
Categorizing 4: Matching
Before: (829, 10)
After: (829, 11)
Categories: Index(['Match_0', 'Match_1'], dtype='object') (2)
Encoding label Status
Before dropping incidental NAs: (829, 11)
After dropping incidental NAs: (829, 11)

Set 5: fraud
Processing fraud
Before dropping columns: (568630, 31)
Dropping 0: id
After dropping columns: (568630, 30)
Before dropping NAs: (568630, 30)
After dropping NAs: (568630, 30)
Standardising 0: V1
Standardising 1: V2
Standardising 2: V3
Standardising 3: V4
Standardising 4: V5
Standardising 5: V6
Standardising 6: V7
Standardising 7: V8
Standardising 8: V9
Standardising 9: V10
Standardising 10: V11
Standardising 11: V12
Standardising 12: V13
Standardising 13: V14
Standardising 14: V15
Standardising 15: V16
Standardising 16: V17
Standardising 17: V18
Standardising 18: V19
Standardising 19: V20
Standardising 20: V21
Standardising 21: V22
Standardising 22: V23
Standardising 23: V24
Standardising 24: V25
Standardising 25: V26
Standardising 26: V27
Standardising 27: V28
Standardising 28: Amount
Encoding label Class
Before dropping incidental NAs: (568630, 30)
After dropping incidental NAs: (568630, 30)

Set 6: loan
Processing loan
Before dropping columns: (5000, 14)
Dropping 0: ID
Dropping 4: ZIP.Code
After dropping columns: (5000, 12)
Before dropping NAs: (5000, 12)
After dropping NAs: (5000, 12)
Standardising 0: Age
Standardising 1: Experience
Standardising 2: Income
Standardising 3: Family
Standardising 4: CCAvg
Leaving 5: Education raw
Standardising 6: Mortgage
Categorizing 7: Personal.Loan
Before: (5000, 12)
After: (5000, 13)
Categories: Index(['Perso_0', 'Perso_1'], dtype='object') (2)
Categorizing 8: Securities.Account
Before: (5000, 13)
After: (5000, 14)
Categories: Index(['Secur_0', 'Secur_1'], dtype='object') (2)
Categorizing 9: CD.Account
Before: (5000, 14)
After: (5000, 15)
Categories: Index(['CD.Ac_0', 'CD.Ac_1'], dtype='object') (2)
Categorizing 10: Online
Before: (5000, 15)
After: (5000, 16)
Categories: Index(['Onlin_0', 'Onlin_1'], dtype='object') (2)
Encoding label CreditCard
Before dropping incidental NAs: (5000, 16)
After dropping incidental NAs: (5000, 16)

Set 7: mobile_price
Processing mobile_price
Before dropping columns: (2000, 21)
After dropping columns: (2000, 21)
Before dropping NAs: (2000, 21)
After dropping NAs: (2000, 21)
Standardising 0: battery_power
Standardising 2: clock_speed
Standardising 4: fc
Standardising 6: int_memory
Standardising 7: m_dep
Standardising 8: mobile_wt
Standardising 9: n_cores
Standardising 10: pc
Standardising 11: px_height
Standardising 12: px_width
Standardising 13: ram
Standardising 14: sc_h
Standardising 15: sc_w
Standardising 16: talk_time
Categorizing 1: blue
Before: (2000, 21)
After: (2000, 22)
Categories: Index(['blue_0', 'blue_1'], dtype='object') (2)
Categorizing 3: dual_sim
Before: (2000, 22)
After: (2000, 23)
Categories: Index(['dual__0', 'dual__1'], dtype='object') (2)
Categorizing 5: four_g
Before: (2000, 23)
After: (2000, 24)
Categories: Index(['four__0', 'four__1'], dtype='object') (2)
Categorizing 17: three_g
Before: (2000, 24)
After: (2000, 25)
Categories: Index(['three_0', 'three_1'], dtype='object') (2)
Categorizing 18: touch_screen
Before: (2000, 25)
After: (2000, 26)
Categories: Index(['touch_0', 'touch_1'], dtype='object') (2)
Categorizing 19: wifi
Before: (2000, 26)
After: (2000, 27)
Categories: Index(['wifi_0', 'wifi_1'], dtype='object') (2)
Encoding label price_range
Before dropping incidental NAs: (2000, 27)
After dropping incidental NAs: (2000, 27)

Set 8: stress
Processing stress
Before dropping columns: (1100, 21)
After dropping columns: (1100, 21)
Before dropping NAs: (1100, 21)
After dropping NAs: (1100, 21)
Standardising 0: anxiety_level
Standardising 1: self_esteem
Standardising 3: depression
Standardising 4: headache
Standardising 5: blood_pressure
Standardising 6: sleep_quality
Standardising 7: breathing_problem
Standardising 8: noise_level
Standardising 9: living_conditions
Standardising 10: safety
Standardising 11: basic_needs
Standardising 12: academic_performance
Standardising 13: study_load
Standardising 14: teacher_student_relationship
Standardising 15: future_career_concerns
Standardising 16: social_support
Standardising 17: peer_pressure
Standardising 18: extracurricular_activities
Standardising 19: bullying
Categorizing 2: mental_health_history
Before: (1100, 21)
After: (1100, 22)
Categories: Index(['menta_0', 'menta_1'], dtype='object') (2)
Encoding label stress_level
Before dropping incidental NAs: (1100, 22)
After dropping incidental NAs: (1100, 22)

Set 9: student_testprep
Processing student_testprep
Before dropping columns: (1000, 8)
After dropping columns: (1000, 8)
Before dropping NAs: (1000, 8)
After dropping NAs: (1000, 8)
Standardising 5: math score
Standardising 6: reading score
Standardising 7: writing score
Categorizing 0: gender
Before: (1000, 8)
After: (1000, 9)
Categories: Index(['gende_female', 'gende_male'], dtype='object') (2)
Categorizing 1: race/ethnicity
Before: (1000, 9)
After: (1000, 13)
Categories: Index(['race/_group A', 'race/_group B', 'race/_group C', 'race/_group D',
       'race/_group E'],
      dtype='object') (5)
Categorizing 2: parental level of education
Before: (1000, 13)
After: (1000, 18)
Categories: Index(['paren_associate's degree', 'paren_bachelor's degree',
       'paren_high school', 'paren_master's degree', 'paren_some college',
       'paren_some high school'],
      dtype='object') (6)
Categorizing 3: lunch
Before: (1000, 18)
After: (1000, 19)
Categories: Index(['lunch_free/reduced', 'lunch_standard'], dtype='object') (2)
Encoding label test preparation course
Before dropping incidental NAs: (1000, 19)
After dropping incidental NAs: (1000, 19)

Set 10: titanic
Processing titanic
Before dropping columns: (889, 9)
Dropping 0: PassengerId
After dropping columns: (889, 8)
Before dropping NAs: (889, 8)
After dropping NAs: (889, 8)
Standardising 3: Age
Leaving 4: SibSp raw
Leaving 5: Parch raw
Standardising 6: Fare
Categorizing 1: Pclass
Before: (889, 8)
After: (889, 10)
Categories: Index(['Pclas_1', 'Pclas_2', 'Pclas_3'], dtype='object') (3)
Categorizing 2: Sex
Before: (889, 10)
After: (889, 11)
Categories: Index(['Sex_Male', 'Sex_female'], dtype='object') (2)
Categorizing 7: Embarked
Before: (889, 11)
After: (889, 13)
Categories: Index(['Embar_1', 'Embar_2', 'Embar_3'], dtype='object') (3)
Encoding label Survived
Before dropping incidental NAs: (889, 13)
After dropping incidental NAs: (889, 13)

Set 11: wine
Processing wine
Before dropping columns: (178, 14)
After dropping columns: (178, 14)
Before dropping NAs: (178, 14)
After dropping NAs: (178, 14)
Standardising 1: alcohol
Standardising 2: malic acid
Standardising 3: ash
Standardising 4: alcalinity of ash
Standardising 5: magnesium
Standardising 6: total phenols
Standardising 7: flavanoids
Standardising 8: nonflavanoid phenols
Standardising 9: proanthocyanins
Standardising 10: color intensity
Standardising 11: hue
Standardising 12: OD280/OD315 of diluted wines
Standardising 13: proline
Encoding label label
Before dropping incidental NAs: (178, 14)
After dropping incidental NAs: (178, 14)

Set 12: drug
Processing drug
Before dropping columns: (200, 6)
After dropping columns: (200, 6)
Before dropping NAs: (200, 6)
After dropping NAs: (200, 6)
Standardising 0: Age
Standardising 4: Na_to_K
Categorizing 1: Sex
Before: (200, 6)
After: (200, 7)
Categories: Index(['Sex_F', 'Sex_M'], dtype='object') (2)
Categorizing 2: BP
Before: (200, 7)
After: (200, 9)
Categories: Index(['BP_HIGH', 'BP_LOW', 'BP_NORMAL'], dtype='object') (3)
Categorizing 3: Cholesterol
Before: (200, 9)
After: (200, 10)
Categories: Index(['Chole_HIGH', 'Chole_NORMAL'], dtype='object') (2)
Encoding label Drug
Before dropping incidental NAs: (200, 10)
After dropping incidental NAs: (200, 10)

Set 13: shipping
Processing shipping
Before dropping columns: (10999, 12)
Dropping 0: ID
After dropping columns: (10999, 11)
Before dropping NAs: (10999, 11)
After dropping NAs: (10999, 11)
Leaving 2: Customer_care_calls raw
Leaving 3: Customer_rating raw
Standardising 4: Cost_of_the_Product
Leaving 5: Prior_purchases raw
Standardising 8: Discount_offered
Standardising 9: Weight_in_gms
Categorizing 0: Warehouse_block
Before: (10999, 11)
After: (10999, 15)
Categories: Index(['Wareh_A', 'Wareh_B', 'Wareh_C', 'Wareh_D', 'Wareh_F'], dtype='object') (5)
Categorizing 1: Mode_of_Shipment
Before: (10999, 15)
After: (10999, 17)
Categories: Index(['Mode__Flight', 'Mode__Road', 'Mode__Ship'], dtype='object') (3)
Categorizing 6: Product_importance
Before: (10999, 17)
After: (10999, 19)
Categories: Index(['Produ_high', 'Produ_low', 'Produ_medium'], dtype='object') (3)
Categorizing 7: Gender
Before: (10999, 19)
After: (10999, 20)
Categories: Index(['Gende_F', 'Gende_M'], dtype='object') (2)
Encoding label Reached.on.Time_Y.N
Before dropping incidental NAs: (10999, 20)
After dropping incidental NAs: (10999, 20)

### Get Meta-Features for each Dataset (as defined in $\verb|metafeatures.txt|$)

In [80]:
meta_feats = pd.DataFrame(columns=["datapoints","feats","numeric","avg_corr","n_binary","num_to_cat_ratio","classes","majority_fraction","best_classifier"], index=sets.keys(), data=0.0)

meta_feats

,datapoints,feats,numeric,avg_corr,n_binary,num_to_cat_ratio,classes,majority_fraction,best_classifier
anemia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
aus_rain,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
campusrecruitment,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
employability,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
fraud,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
loan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mobile_price,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
stress,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
student_testprep,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
titanic,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
wine,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
drug,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
shipping,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [101]:
# load datasets, the first few cell blocks reload these, wasting time

def load(dataset):
	df = pd.read_csv(f"datasets/{dataset}.csv")
	return df

datasets = {
	k: load(k) for k in sets
}

In [179]:

for name, data in datasets.items():
	meta_feats.loc[name, "datapoints"] = len(data)
	meta_feats.loc[name, "feats"] = len(data.columns) - 1
	X = data.iloc[:, :-1]
	y = data.iloc[:, -1]
	
	num, cat = len(X.select_dtypes(include=np.number).columns), len(X.select_dtypes(include=np.bool_).columns)
	
	meta_feats.loc[name, "numeric"] = num
	meta_feats.loc[name, "n_binary"] = cat
	assert(num + cat == len(X.columns))

	# laplace smoothing
	meta_feats.loc[name, "num_to_cat_ratio"] = num / (cat+1)

	X = X.select_dtypes(include=np.number).to_numpy()

	C = np.corrcoef(X, rowvar=False)

	avg = 0.0
	for i in range(len(C)):
		# ignore diagonal entries
		# symmetric, so only need to look at half
		for j in range(i):
			# doesn't matter whether -ve or +ve linear correlation
			avg += abs(C[i, j])

	# non-diag entries = n^2 - n = n(n-1)
	# symmetric, so divide by 2
	if len(C) > 1:
		avg /= len(C) * (len(C) - 1) / 2
	else:
		avg = 0.0

	meta_feats.loc[name, "avg_corr"] = avg

	meta_feats.loc[name, "classes"] = len(np.unique(y))

	meta_feats.loc[name, "majority_fraction"] = np.max(np.unique(y, return_counts=True)[1]) / len(y)

In [180]:
meta_feats

,datapoints,feats,numeric,avg_corr,n_binary,num_to_cat_ratio,classes,majority_fraction,best_classifier
anemia,9546.0,40.0,4.0,0.081748,36.0,0.108108,4.0,0.386235,0.0
aus_rain,56420.0,124.0,16.0,0.286451,108.0,0.146789,2.0,0.779741,0.0
campusrecruitment,215.0,21.0,5.0,0.357938,16.0,0.294118,2.0,0.688372,0.0
employability,829.0,10.0,0.0,0.000000,10.0,0.000000,2.0,0.687575,0.0
fraud,568630.0,29.0,29.0,0.236221,0.0,29.000000,2.0,0.500000,0.0
loan,5000.0,15.0,7.0,0.145074,8.0,0.777778,2.0,0.706000,0.0
mobile_price,2000.0,26.0,14.0,0.034483,12.0,1.076923,4.0,0.250000,0.0
stress,1100.0,21.0,19.0,0.568837,2.0,6.333333,3.0,0.339091,0.0
student_testprep,1000.0,18.0,3.0,0.850244,15.0,0.187500,2.0,0.656000,0.0
titanic,889.0,12.0,4.0,0.194706,8.0,0.444444,2.0,0.617548,0.0
wine,178.0,13.0,13.0,0.304957,0.0,13.000000,3.0,0.398876,0.0
drug,200.0,9.0,2.0,0.063119,7.0,0.250000,5.0,0.455000,0.0
shipping,10999.0,19.0,6.0,0.131509,13.0,0.428571,2.0,0.596691,0.0

### Preprocess this data

I normalise datapoints, feats, numeric, n_binary to the [0, 1] range by rescaling between min/max. I prefer normalisation here due to the abnormal/unpredictable (non-normal) distribution of these features as well as the similar unit/scale (counts)

I leave classes raw, since the range is small.

In [183]:
from sklearn.preprocessing import minmax_scale

meta_feats.iloc[:, [0, 1, 2, 4]] = minmax_scale(meta_feats.iloc[:, [0, 1, 2, 4]])

In [184]:
meta_feats

,datapoints,feats,numeric,avg_corr,n_binary,num_to_cat_ratio,classes,majority_fraction,best_classifier
anemia,0.016480,0.269565,0.137931,0.081748,0.333333,0.108108,4.0,0.386235,0.0
aus_rain,0.098939,1.000000,0.551724,0.286451,1.000000,0.146789,2.0,0.779741,0.0
campusrecruitment,0.000065,0.104348,0.172414,0.357938,0.148148,0.294118,2.0,0.688372,0.0
employability,0.001145,0.008696,0.000000,0.000000,0.092593,0.000000,2.0,0.687575,0.0
fraud,1.000000,0.173913,1.000000,0.236221,0.000000,29.000000,2.0,0.500000,0.0
loan,0.008483,0.052174,0.241379,0.145074,0.074074,0.777778,2.0,0.706000,0.0
mobile_price,0.003205,0.147826,0.482759,0.034483,0.111111,1.076923,4.0,0.250000,0.0
stress,0.001622,0.104348,0.655172,0.568837,0.018519,6.333333,3.0,0.339091,0.0
student_testprep,0.001446,0.078261,0.103448,0.850244,0.138889,0.187500,2.0,0.656000,0.0
titanic,0.001251,0.026087,0.137931,0.194706,0.074074,0.444444,2.0,0.617548,0.0
wine,0.000000,0.034783,0.448276,0.304957,0.000000,13.000000,3.0,0.398876,0.0
drug,0.000039,0.000000,0.068966,0.063119,0.064815,0.250000,5.0,0.455000,0.0
shipping,0.019036,0.086957,0.206897,0.131509,0.120370,0.428571,2.0,0.596691,0.0

In [185]:
meta_feats.to_csv("metaset.csv", index_label="dataset")

Best classifier field is filled in after getting model results.

0 -> logi

1 -> knn

2 -> ffn

3 -> dt

4 -> rf

In [202]:
from os.path import exists

if not exists("models.csv"):
	raise Exception("Please run the models notebook first")

models = pd.read_csv("models.csv", index_col="model")
models

,anemia,aus_rain,campusrecruitment,employability,fraud,loan,mobile_price,stress,student_testprep,titanic,wine,drug,shipping
model,,,,,,,,,,,,,
logi,0.998428,0.844825,0.860465,0.916787,0.962645,0.742200,0.97350,0.881818,0.762000,0.797556,0.988889,0.960000,0.594951
knn,0.740413,0.819213,0.827907,0.933662,0.997031,0.708200,0.63300,0.870000,0.681000,0.808786,0.960794,0.900000,0.607861
ffn,0.996019,0.777810,0.860394,0.940865,0.999068,0.743601,0.93349,0.882712,0.749015,0.820051,0.977589,0.974898,0.592951
dt,1.000000,0.817671,0.813953,0.937276,0.993899,0.745000,0.84550,0.889091,0.680000,0.814429,0.904762,0.985000,0.617860
rf,0.981667,0.802942,0.809302,0.927638,0.999745,0.695000,0.79300,0.878182,0.663000,0.789710,0.955397,0.980000,0.620675

In [205]:
for i, col in enumerate(models.columns):
	i = np.argmax(models[col])
	meta_feats.loc[col, "best_classifier"] = i

In [207]:
meta_feats.to_csv("metaset.csv", index_label="dataset")

In [208]:
meta_feats

,datapoints,feats,numeric,avg_corr,n_binary,num_to_cat_ratio,classes,majority_fraction,best_classifier
anemia,0.016480,0.269565,0.137931,0.081748,0.333333,0.108108,4.0,0.386235,3.0
aus_rain,0.098939,1.000000,0.551724,0.286451,1.000000,0.146789,2.0,0.779741,0.0
campusrecruitment,0.000065,0.104348,0.172414,0.357938,0.148148,0.294118,2.0,0.688372,0.0
employability,0.001145,0.008696,0.000000,0.000000,0.092593,0.000000,2.0,0.687575,2.0
fraud,1.000000,0.173913,1.000000,0.236221,0.000000,29.000000,2.0,0.500000,4.0
loan,0.008483,0.052174,0.241379,0.145074,0.074074,0.777778,2.0,0.706000,3.0
mobile_price,0.003205,0.147826,0.482759,0.034483,0.111111,1.076923,4.0,0.250000,0.0
stress,0.001622,0.104348,0.655172,0.568837,0.018519,6.333333,3.0,0.339091,3.0
student_testprep,0.001446,0.078261,0.103448,0.850244,0.138889,0.187500,2.0,0.656000,0.0
titanic,0.001251,0.026087,0.137931,0.194706,0.074074,0.444444,2.0,0.617548,2.0
wine,0.000000,0.034783,0.448276,0.304957,0.000000,13.000000,3.0,0.398876,0.0
drug,0.000039,0.000000,0.068966,0.063119,0.064815,0.250000,5.0,0.455000,3.0
shipping,0.019036,0.086957,0.206897,0.131509,0.120370,0.428571,2.0,0.596691,4.0

A couple notes, this is an extremely small dataset, and as mentioned in the proposal, I will most likely not be able to train a robust metaclassifier on this. However, we now move on to trying to accomplish this, nonetheless, in $\verb|meta.ipynb|$.

Also, it is the case here that kNN is not the best classifier for any dataset. This is expected, since the main draw of kNN is not its ability to produce highly accurate models, but the non-existent training cost. Ideally, I would have liked to have at least one example of kNN being the best classifier in the dataset, but I was not able to find such a set. It is fairly trivial to generate a set that kNN performs well on, but I did not choose to pursue this, as I thought it would bias the metaclassifier even further.